/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #927dfc;
}
.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  /* font-size: 30px; */
}
.container h3 {
  /* border: 1px solid red; */
  color: white;
  margin-bottom: 20px;
}

.wrapper {
  width: 450px;
  /* height: 288px; */
  padding: 30px;
  background: whitesmoke;
  border-radius: 9px;
  transition: height 0.2s ease;
  /* border: 1px solid red; */
}

.wrapper .upload-box {
  /* background-color: red; */
  min-height: 225px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  border: 2px dashed #afafaf;
  position: relative;
}
.wrapper .upload-box span {
  display: none;
  /* border: 1px solid red; */
  font-weight: bolder;
  color: white;
  padding: 4px;
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 18px;
  border-radius: 50%;
  background-color: #afafaf;
}

.wrapper.active .upload-box span {
  display: block;
}
.wrapper.active .upload-box {
  border: none;
  min-height: 150px;
}
.upload-box p {
  font-size: 1.06rem;
  margin-top: 20px;
}

.wrapper.active .upload-box p {
  display: none;
}

.wrapper.active .upload-box img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 5px;
}

.wrapper .content {
  display: none;
  /* opacity: 0; */
  margin-top: 28px;
  /* pointer-events: none; */
}
.wrapper.active .content {
  display: block;
  /* opacity: 1;
  pointer-events: auto;
  transition: opacity 0.5s 0.05s ease; */
}
.content .row {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  column-gap: 15px;
}
.content .row .column {
  font-size: 13px;
  /* width: calc(100% / 2 - 15px); */
}

.row .details {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  column-gap: 15px;
}

.content .current {
  margin-bottom: 6px;
}

.sizes .column input {
  width: 100%;
  height: 40px;
  outline: none;
  margin-top: 5px;
  padding: 0 10px;
  background-color: white;
  border-radius: 4px;
  border: none;
  /* border: 1px solid #aaa; */
}
.sizes .column input:focus {
  padding: 0 14px;
  border-bottom: 2px solid #927dfc;
}

.range {
  margin-top: 15px;
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
}
.range .quality {
  flex: 2;
}

.range .quality input {
  margin-top: 3px;
}
#quality_value {
  font-size: 12px;
}

.range .quality .helperText {
  color: red;
  display: none;
}

.range .file_type {
  flex: 1;
}

.range .file_type select {
  width: 100%;
  border: none;
  background: white;
  height: 32px;
  margin-top: 5px;
  border: none;
  outline: none;
  border-radius: 4px;
  padding: 0 8px;
}

.range .file_type select:focus {
  padding: 0px 7px;
  border-bottom: 2px solid #927dfc;
}

.ratio {
  display: flex;
  align-items: center;
  font-size: 13px;
  margin-top: 5px;
  /* border: 1px solid red; */
}
.ratio input {
  width: 14px;
  height: 14px;
  margin-right: 6px;
  accent-color: #927dfc;
}
.content .download-btn {
  width: 100%;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 1.06rem;
  border-radius: 5px;
  padding: 15px 0;
  margin-top: 30px;
  background: #927dfc;
  text-transform: uppercase;
}

.footer {
  width: 450px;
}

.footer_top {
  width: 100%;
  color: white;
  border-top: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  column-gap: 15px;
  margin-top: 30px;
  padding: 20px 0;
}

.fa:hover {
  transform: scale(0.9, 0.9);
}
.fa {
  color: white;
  padding-top: 4px;
  cursor: pointer;
}
.footer_bottom {
  text-align: center;
  border-top: 1px solid white;
  font-size: small;
  color: whitesmoke;
  margin: 0 70px;
  padding-top: 20px;
}

@media only screen and (max-width: 600px) {
  .footer {
    width: 100%;
  }
  .container {
    padding: 15px;
  }
  .wrapper {
    width: 100%;
    padding: 15px;
  }
  .row .details {
    column-gap: 10px;
  }
}

input[type="range"] {
  cursor: pointer;
  width: 95%;
}
